{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static '/css/styles.css' %}"> -->
        <title>Inicio</title>

        <style>
            img{
                width: 50%;
                height: 50%;          
            }
            span{
                color: rgb(187, 186, 186);
            }

            footer, span{
                text-align: center;
                display: block;
            }
            h1{
                font-size: 25px !important;
                color:#596275;
            }
        </style>
</head>

<body>


    
    <nav class="navbar navbar-expand-lg navbar-dark bg-info static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Distri Autos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'home'%}">Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'listar_clientes'%}">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'listar_coches_vendidos'%}">Coches Vendidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'listar_revisiones'%}">Revisiones</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-4">Bienvenidos al Concesionario Distri-Autos</h1>

            </div>
        </div>

        <div class=" text-center">
            <img src="{% static '/img/1.svg' %}" class="img-fluid" alt="Responsive image">
          </div>
           
    </div>

    <div class="container mt-5">
        <footer>
            <span> Copyright © 2020 - Anyi Jimenez y Zuleidy Yaruro Orozco</span>
            <span>FUP-Créditos Libres III</span>
            
        </footer>
    </div>


   

</body>

</html>